<?xml version="1.0" encoding="UTF-8"?>
<server description="exercisedb server">

	<featureManager>
		<feature>webProfile-7.0</feature>
	</featureManager>

	<keyStore password="letmein" />

	<basicRegistry id="basic" realm="BasicRealm">
		<user name="webuser1" password="letmein" />
	</basicRegistry>

	<httpEndpoint host="*" id="defaultHttpEndpoint"
		httpPort="9080" httpsPort="9443" />

	<enterpriseApplication id="exercisedb-ear"
		location="exercisedb-ear.ear" name="exercisedb-ear" />

	<!-- https://openliberty.io/docs/latest/relational-database-connections-JDBC.html -->
	<library id="jdbcLib">
		<fileset dir="jdbc" includes="*.jar" />
	</library>

	<dataSource jndiName="jdbc/database1">
		<jdbcDriver libraryRef="jdbcLib" />
		<properties serverName="localhost" portNumber="3306"
			databaseName="database1" user="mysqluser1" password="letmein" currentSchema="schema1" />
	</dataSource>
</server>
